html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    background: rgb(76, 88, 227);
}

.container {
    position: relative;
    margin: auto;
    background: #161616;
}

section {
    display: inline-block;
    margin-top: 50px;
}

.item {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
}

.item .details {
    position: relative;
    /* display: none; */
    
    visibility: hidden;
    width: 300px;
    height: 300px;
    padding-top: 60px;
    color: #fff;
    background: rgba(75, 90, 120, .5);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.details header {
    display: block;
    padding-bottom: 10px;
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.details p {
    width: 70%;
    margin: 10px auto;
    line-height: 1.4;
}

.button {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #2f3644;
    border-radius: 20px;
    border: 1px solid white;
}

.button:hover {
    background-color: #fff;
    color: #2f3644;
}

.item.terran {
    background: url(https://www.jinx.com/content/prod/4063p_0c_2b.jpg) no-repeat;
    background-size: cover;
}

.item.zerg {
    background: url(https://www.jinx.com/content/prod/3863p_0c_2b.jpg) no-repeat;
    background-size: cover;
}

.item.protoss {
    background: url(https://www.jinx.com/content/prod/4060p_0c_2b.jpg) no-repeat 50% 50%;
    background-size: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    lefT: 0;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
    outline: 0;
    transition: .6s ease-out;
    transform: scale(1);
    background-size: cover;
}
/* terran effects */

.item.terran:hover .details {
    display: block
}

.item.terran:hover .overlay {
    transform: scale(1.07);
}
/* zerg effects */

.item.zerg:hover .details {
    display: block
}

.item.zerg:hover .overlay {
    transform: rotate(360deg) scale(0.0005);
    opacity: 0;
    border-radius: 50%;
    transition: .5s linear;
}
/* protoss effects */

.item.protoss .details {
    left: -130px;
    transition: all .4s ease;
}

.item:hover .details {
    left: 0px;
    visibility: visible;
    opacity: 1;
}

.item.protoss:hover .overlay {
    transform: translateX(300px);
    transition: .3s ease;
    opacity: 0.5;
}

.overlay.octagon {
    background-image: url(Images/oct.png);
}
/* links */

.links {
    padding: 20px 0;
    text-align: center;
}

.links a {
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    padding: 2px 10px;
    margin: auto 30px;
    position: relative;
    height: 45px;
    line-height: 45px;
    position: relative;
    display: inline-block;
    outline: none;
}

.links a:nth-of-type(1) {
    color: #1A4F77
}

.links a:nth-of-type(2) {
    color: #774486
}

.links a:nth-of-type(3) {
    color: #B39627
}

.effect-1 a:nth-of-type(1):hover::before,
.effect-1 a:nth-of-type(1):hover::after {
    opacity: 1;
    background-color: #1A4F77;
}

.effect-1 a:nth-of-type(2):hover::before,
.effect-1 a:nth-of-type(2):hover::after {
    opacity: 1;
    background-color: #774486;
}

.effect-1 a:nth-of-type(3):hover::before,
.effect-1 a:nth-of-type(3):hover::after {
    opacity: 1;
    background-color: #B39627;
}

.effect-1 a::before,
.effect-1 a::after {
    position: absolute;
    width: 37px;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0.05;
    transition: all 0.3s;
}

.effect-1 a::before {
    top: 10%;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.effect-1 a::after {
    right: 0;
    bottom: 10%;
    transform: rotate(90deg);
    transform-origin: 100% 0;
}

.effect-1 a:hover::before,
.effect-1 a:hover::after {
    opacity: 1;
}

.effect-1 a:hover::before {
    left: 50%;
    transform: rotate(0) translateX(-50%);
}

.effect-1 a:hover::after {
    right: 50%;
    transform: rotate(0) translateX(50%);
}